.main {
  height: 32rem;
  background-color: #686E7A;
  font-size: 2rem;
}
.main .header {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: #E4E4E4;
}
.main .result {
  text-align: right;
}
.main .keyBoard {
  text-align: center;
}
.main .keyBoard span {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
